In [1]:
#CodeBlock 1

import pandas as pd
import numpy as np

In [36]:
# CodeBlock 2
df_realestate = pd.read_csv('data/Real Estate Data.csv', index_col = 0, header = 0 )

In [19]:
# CodeBlock 3
df_realestate.head(5)

,Type,Zoning Class,Lot Frontage,Lot Area,Alley,Lot Shape,Land Contour,Lot Config,Land Slope,Nbhd,...,Open Porch Area,Enclosed Porch Area,3 Season Porch Area,Screen Porch Area,Pool Area,Pool Qual,Fence,Sale Type,Sale Condition,Sale Price
Id,,,,,,,,,,,,,,,,,,,,,
1,2-STORY 1946 & NEWER,Resid Low Density,65.0,8450,NaN,Regular,Level,Inside lot,Gentle,College Creek,...,61,0,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,Normal Sale,208500
2,1-STORY 1946 & NEWER,Resid Low Density,80.0,9600,NaN,Regular,Level,Frontage on 2 sides,Gentle,Veenker,...,0,0,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,Normal Sale,181500
3,2-STORY 1946 & NEWER,Resid Low Density,68.0,11250,NaN,Slightly irregular,Level,Inside lot,Gentle,College Creek,...,42,0,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,Normal Sale,223500
4,2-STORY 1945 & OLDER,Resid Low Density,60.0,9550,NaN,Slightly irregular,Level,Corner lot,Gentle,Crawford,...,35,272,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,"Abnormal Sale - trade, foreclosure, short sale",140000
5,2-STORY 1946 & NEWER,Resid Low Density,84.0,14260,NaN,Slightly irregular,Level,Frontage on 2 sides,Gentle,Northridge,...,84,0,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,Normal Sale,250000

In [20]:
# CodeBlock 4
df_realestate.sample()

,Type,Zoning Class,Lot Frontage,Lot Area,Alley,Lot Shape,Land Contour,Lot Config,Land Slope,Nbhd,...,Open Porch Area,Enclosed Porch Area,3 Season Porch Area,Screen Porch Area,Pool Area,Pool Qual,Fence,Sale Type,Sale Condition,Sale Price
Id,,,,,,,,,,,,,,,,,,,,,
1154,1-STORY 1945 & OLDER,Resid Med Density,NaN,5890,NaN,Regular,Level,Corner lot,Gentle,Iowa DOT and Rail Road,...,0,96,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,Normal Sale,120500

In [6]:
# CodeBlock 5
df_realestate.tail(2)

,Type,Zoning Class,Lot Frontage,Lot Area,Alley,Lot Shape,Land Contour,Lot Config,Land Slope,Nbhd,...,Open Porch Area,Enclosed Porch Area,3 Season Porch Area,Screen Porch Area,Pool Area,Pool Qual,Fence,Sale Type,Sale Condition,Sale Price
Id,,,,,,,,,,,,,,,,,,,,,
1459,1-STORY 1946 & NEWER,Resid Low Density,68.0,9717,NaN,Regular,Level,Inside lot,Gentle,North Ames,...,0,112,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,Normal Sale,142125
1460,1-STORY 1946 & NEWER,Resid Low Density,75.0,9937,NaN,Regular,Level,Inside lot,Gentle,Edwards,...,68,0,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,Normal Sale,147500

In [21]:
# CodeBlock 6
df_realestate.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1404 entries, 1 to 1460
Data columns (total 68 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Type                      1404 non-null   object
 1   Zoning Class              1404 non-null   object
 2   Lot Frontage              1151 non-null   float64
 3   Lot Area                  1404 non-null   int64
 4   Alley                     84 non-null     object
 5   Lot Shape                 1404 non-null   object
 6   Land Contour              1404 non-null   object
 7   Lot Config                1404 non-null   object
 8   Land Slope                1404 non-null   object
 9   Nbhd                      1404 non-null   object
 10  Location Condition        1404 non-null   object
 11  Bldg Type                 1404 non-null   object
 12  House Style               1404 non-null   object
 13  OvQual                    1404 non-null   int64
 14  Overall Cond              1404 non-null   int64
 15  Built                     1404 non-null   int64
 16  Year Remod Add            1404 non-null   int64
 17  Roof Style                1404 non-null   object
 18  Roof Material             1404 non-null   object
 19  Exterior Primary          1404 non-null   object
 20  Masonry/Veneer            1396 non-null   object
 21  Masonry/Veneer Area       1396 non-null   float64
 22  Exterior Qual             1404 non-null   object
 23  Exterior Cond             1404 non-null   object
 24  Foundation                1404 non-null   object
 25  Basement Height           1404 non-null   object
 26  Basement Cond             1404 non-null   object
 27  Basement Exposure         1404 non-null   object
 28  Basement Finish           1404 non-null   object
 29  Basement Finished Area    1404 non-null   int64
 30  Basement Unfinished Area  1404 non-null   int64
 31  Basement Area             1404 non-null   int64
 32  Heating Qual              1404 non-null   object
 33  CentralAir                1404 non-null   object
 34  Electrical                1404 non-null   object
 35  1st Floor Area            1404 non-null   int64
 36  2nd Floor Area            1404 non-null   int64
 37  Living Area Above Grade   1404 non-null   int64
 38  Basement Full Baths       1404 non-null   int64
 39  Basement Half baths       1404 non-null   int64
 40  Full Baths Above Grade    1404 non-null   int64
 41  Half Baths Above Grade    1404 non-null   int64
 42  Bedrooms Above Grade      1404 non-null   int64
 43  Kitchens Above Grade      1404 non-null   int64
 44  Kitchen Qual              1404 non-null   object
 45  Total Rooms Above Grade   1404 non-null   int64
 46  Functionality             1404 non-null   object
 47  Fireplaces                1404 non-null   int64
 48  Fireplce Qual             1404 non-null   object
 49  Garage Type               1404 non-null   object
 50  Garage Yr Built           1341 non-null   float64
 51  Garage Finish             1404 non-null   object
 52  Garage Cars               1404 non-null   int64
 53  Garage Area               1404 non-null   int64
 54  Garage Qual               1404 non-null   object
 55  Garage Cond               1404 non-null   object
 56  Paved Drive               1404 non-null   object
 57  Wood Deck Area            1404 non-null   int64
 58  Open Porch Area           1404 non-null   int64
 59  Enclosed Porch Area       1404 non-null   int64
 60  3 Season Porch Area       1404 non-null   int64
 61  Screen Porch Area         1404 non-null   int64
 62  Pool Area                 1404 non-null   int64
 63  Pool Qual                 1404 non-null   object
 64  Fence                     1404 non-null   object
 65  Sale Type                 1404 non-null   object
 66  Sale Condition            1404 non-null   object
 67  Sale Price                1404 non-null   int64
dtypes: float64(3), int64(28), object(37)
memory usage: 756.8+ KB

In [37]:
# CodeBlock 7

df_realestate = df_realestate.drop(['Zoning Class', 'Lot Shape', 'Lot Config', 'Land Slope', 'Bldg Type', 'House Style', 'Roof Style', 'Roof Material', 'Exterior Primary', 'Masonry/Veneer', 'Exterior Qual', 'Exterior Cond', 'Foundation', 'Basement Height', 'Basement Cond', 'Basement Exposure', 'Basement Finish', 'Heating Qual', 'CentralAir', 'Electrical', 'Functionality', 'Fireplce Qual', 'Garage Type', 'Garage Qual', 'Garage Cond', 'Paved Drive', 'Pool Qual', 'Fence', 'Sale Type', 'Year Remod Add'], axis = 1)

df_realestate.tail(2)

,Type,Lot Frontage,Lot Area,Alley,Land Contour,Nbhd,Location Condition,OvQual,Overall Cond,Built,...,Garage Cars,Garage Area,Wood Deck Area,Open Porch Area,Enclosed Porch Area,3 Season Porch Area,Screen Porch Area,Pool Area,Sale Condition,Sale Price
Id,,,,,,,,,,,,,,,,,,,,,
1459,1-STORY 1946 & NEWER,68.0,9717,NaN,Level,North Ames,Normal,5,6,1950,...,1,240,366,0,112,0,0,0,Normal Sale,142125
1460,1-STORY 1946 & NEWER,75.0,9937,NaN,Level,Edwards,Normal,5,6,1965,...,1,276,736,68,0,0,0,0,Normal Sale,147500

In [38]:
#CodeBlock 8

df_realestate = df_realestate.rename(columns = {'Type':'Dwelling Type', \
                                               'OvQual': 'Overall Quality',\
                                               'Nbhd' : 'Neighborhood',\
                                               'Built' : 'Year Built'})

df_realestate.tail(2)

,Dwelling Type,Lot Frontage,Lot Area,Alley,Land Contour,Neighborhood,Location Condition,Overall Quality,Overall Cond,Year Built,...,Garage Cars,Garage Area,Wood Deck Area,Open Porch Area,Enclosed Porch Area,3 Season Porch Area,Screen Porch Area,Pool Area,Sale Condition,Sale Price
Id,,,,,,,,,,,,,,,,,,,,,
1459,1-STORY 1946 & NEWER,68.0,9717,NaN,Level,North Ames,Normal,5,6,1950,...,1,240,366,0,112,0,0,0,Normal Sale,142125
1460,1-STORY 1946 & NEWER,75.0,9937,NaN,Level,Edwards,Normal,5,6,1965,...,1,276,736,68,0,0,0,0,Normal Sale,147500

In [31]:
#CodeBlock 9

df_realestate.shape

(1404, 38)

In [39]:
#CodeBlock 10

df_realestate.groupby('Neighborhood')['Neighborhood'].count()

Neighborhood
Bloomington Heights             6
Bloomington Hts                11
Bluestem                        2
Briardale                      16
Brookside                      49
Clear Creek                    27
College Creek                 150
Crawford                       50
Edwards                        89
Gilbert                        79
Iowa DOT and Rail Road         34
Meadow Village                 10
Mitchell                       48
North Ames                    216
Northpark Villa                 9
Northridge                     41
Northridge Heights             77
Northwest Ames                 73
Old Town                      103
Sawyer                         74
Sawyer West                    58
Somerset                       86
South & West of Iowa State     24
Stone Brook                    25
Timberland                     36
Veenker                        11
Name: Neighborhood, dtype: int64

In [40]:
#CodeBlock 11

df_realestate = df_realestate.replace('Bloomington Hts', 'Bloomington Heights')
df_realestate.groupby('Neighborhood')['Neighborhood'].count()

Neighborhood
Bloomington Heights            17
Bluestem                        2
Briardale                      16
Brookside                      49
Clear Creek                    27
College Creek                 150
Crawford                       50
Edwards                        89
Gilbert                        79
Iowa DOT and Rail Road         34
Meadow Village                 10
Mitchell                       48
North Ames                    216
Northpark Villa                 9
Northridge                     41
Northridge Heights             77
Northwest Ames                 73
Old Town                      103
Sawyer                         74
Sawyer West                    58
Somerset                       86
South & West of Iowa State     24
Stone Brook                    25
Timberland                     36
Veenker                        11
Name: Neighborhood, dtype: int64

In [43]:
# CodeBlock 12

df_realestate.groupby('Neighborhood')['Sale Price'].median()

Neighborhood
Bloomington Heights           191000.0
Bluestem                      137500.0
Briardale                     106000.0
Brookside                     128000.0
Clear Creek                   200000.0
College Creek                 197200.0
Crawford                      208812.0
Edwards                       120000.0
Gilbert                       181000.0
Iowa DOT and Rail Road        104750.0
Meadow Village                106000.0
Mitchell                      154750.0
North Ames                    141000.0
Northpark Villa               146000.0
Northridge                    301500.0
Northridge Heights            315000.0
Northwest Ames                182900.0
Old Town                      119900.0
Sawyer                        135000.0
Sawyer West                   179950.0
Somerset                      225500.0
South & West of Iowa State    139750.0
Stone Brook                   278000.0
Timberland                    233975.0
Veenker                       218000.0
Name: Sale Price, dtype: float64

In [44]:
# CodeBlock 13

df_realestate.groupby('Dwelling Type')['Dwelling Type'].count()

Dwelling Type
1 STORY PUD               9
1-1/2 STORY ALL AGES    138
1-STORY 1945 & OLDER     62
1-STORY 1946 & NEWER    531
1-STORY PUD              78
2 FAMILY CONVERSION      28
2-1/2 STORY ALL AGES     15
2-STORY 1945 & OLDER     59
2-STORY 1946 & NEWER    298
2-STORY PUD              63
DUPLEX                   46
SPLIT FOYER              20
SPLIT OR MULTI-LEVEL     57
Name: Dwelling Type, dtype: int64

In [45]:
# CodeBlock 14

df_realestate = df_realestate.replace('1-STORY PUD', '1 STORY PUD')
df_realestate.groupby('Dwelling Type')['Dwelling Type'].count()

Dwelling Type
1 STORY PUD              87
1-1/2 STORY ALL AGES    138
1-STORY 1945 & OLDER     62
1-STORY 1946 & NEWER    531
2 FAMILY CONVERSION      28
2-1/2 STORY ALL AGES     15
2-STORY 1945 & OLDER     59
2-STORY 1946 & NEWER    298
2-STORY PUD              63
DUPLEX                   46
SPLIT FOYER              20
SPLIT OR MULTI-LEVEL     57
Name: Dwelling Type, dtype: int64

In [46]:
# CodeBlock 15

df_realestate.groupby(['Neighborhood', 'Dwelling Type'])['Sale Price'].median()

Neighborhood         Dwelling Type
Bloomington Heights  1 STORY PUD             191500.0
                     1-STORY 1946 & NEWER    159895.0
Bluestem             2-STORY PUD             137500.0
Briardale            2-STORY PUD             106000.0
Brookside            1-1/2 STORY ALL AGES    132500.0
                                               ...
Timberland           SPLIT OR MULTI-LEVEL    181250.0
Veenker              1 STORY PUD             270000.0
                     1-STORY 1946 & NEWER    181500.0
                     2-STORY 1946 & NEWER    294000.0
                     SPLIT OR MULTI-LEVEL    190500.0
Name: Sale Price, Length: 132, dtype: float64

In [47]:
# CodeBlock 16
df_re_pivot = df_realestate.pivot_table(index = 'Neighborhood', columns ='Land Contour', values='Sale Price' )

df_re_pivot

Land Contour,Banked,Depression,Hillside,Level
Neighborhood,,,,
Bloomington Heights,NaN,NaN,NaN,194870.882353
Bluestem,NaN,NaN,NaN,137500.000000
Briardale,NaN,NaN,NaN,104493.750000
Brookside,165400.000000,39300.000000,82500.000000,129358.928571
Clear Creek,220250.000000,222666.666667,186500.000000,200575.636364
College Creek,124900.000000,140666.666667,124000.000000,200165.282759
Crawford,198656.250000,224000.000000,221900.000000,212734.862069
Edwards,147035.714286,72950.000000,94750.000000,130323.670886
Gilbert,154500.000000,NaN,247640.625000,187614.217391
Iowa DOT and Rail Road,108978.600000,94500.000000,102776.000000,99019.653846
Meadow Village,NaN,NaN,NaN,108580.000000
Mitchell,134000.000000,148200.000000,122625.000000,161087.150000
North Ames,143000.000000,NaN,188500.000000,146969.872038
Northpark Villa,NaN,NaN,NaN,142694.444444
Northridge,NaN,260000.000000,NaN,337177.700000
Northridge Heights,NaN,NaN,374000.000000,315511.026316
Northwest Ames,NaN,NaN,NaN,189050.068493
Old Town,115319.000000,NaN,130000.000000,132744.434783
Sawyer,168000.000000,NaN,NaN,136365.643836
Sawyer West,130386.333333,270900.000000,NaN,185412.411765
Somerset,NaN,NaN,NaN,225379.837209
South & West of Iowa State,134439.454545,NaN,NaN,151611.538462
Stone Brook,NaN,267500.000000,352534.333333,300721.705882
Timberland,160000.000000,375000.000000,267879.000000,236942.208333
Veenker,NaN,385000.000000,NaN,224150.000000

In [49]:
# CodeBlock 17
df_realestate['Garage Cars'].describe()

count    1404.000000
mean        1.797721
std         0.728482
min         0.000000
25%         1.000000
50%         2.000000
75%         2.000000
max         4.000000
Name: Garage Cars, dtype: float64

In [52]:
# CodeBlock 18
df_realestate['Garage Cars'].value_counts(normalize=True)

2    0.574074
1    0.248575
3    0.128917
0    0.044872
4    0.003561
Name: Garage Cars, dtype: float64

In [57]:
# CodeBlock 18
df_realestate[df_realestate ['Garage Cars'] <= 3].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1399 entries, 1 to 1460
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Dwelling Type             1399 non-null   object
 1   Lot Frontage              1147 non-null   float64
 2   Lot Area                  1399 non-null   int64
 3   Alley                     83 non-null     object
 4   Land Contour              1399 non-null   object
 5   Neighborhood              1399 non-null   object
 6   Location Condition        1399 non-null   object
 7   Overall Quality           1399 non-null   int64
 8   Overall Cond              1399 non-null   int64
 9   Year Built                1399 non-null   int64
 10  Masonry/Veneer Area       1391 non-null   float64
 11  Basement Finished Area    1399 non-null   int64
 12  Basement Unfinished Area  1399 non-null   int64
 13  Basement Area             1399 non-null   int64
 14  1st Floor Area            1399 non-null   int64
 15  2nd Floor Area            1399 non-null   int64
 16  Living Area Above Grade   1399 non-null   int64
 17  Basement Full Baths       1399 non-null   int64
 18  Basement Half baths       1399 non-null   int64
 19  Full Baths Above Grade    1399 non-null   int64
 20  Half Baths Above Grade    1399 non-null   int64
 21  Bedrooms Above Grade      1399 non-null   int64
 22  Kitchens Above Grade      1399 non-null   int64
 23  Kitchen Qual              1399 non-null   object
 24  Total Rooms Above Grade   1399 non-null   int64
 25  Fireplaces                1399 non-null   int64
 26  Garage Yr Built           1336 non-null   float64
 27  Garage Finish             1399 non-null   object
 28  Garage Cars               1399 non-null   int64
 29  Garage Area               1399 non-null   int64
 30  Wood Deck Area            1399 non-null   int64
 31  Open Porch Area           1399 non-null   int64
 32  Enclosed Porch Area       1399 non-null   int64
 33  3 Season Porch Area       1399 non-null   int64
 34  Screen Porch Area         1399 non-null   int64
 35  Pool Area                 1399 non-null   int64
 36  Sale Condition            1399 non-null   object
 37  Sale Price                1399 non-null   int64
dtypes: float64(3), int64(27), object(8)
memory usage: 426.3+ KB

In [58]:
# CodeBlock 19
df_realestate = df_realestate.drop('Garage Area', axis = 1)
df_realestate.head(2)

,Dwelling Type,Lot Frontage,Lot Area,Alley,Land Contour,Neighborhood,Location Condition,Overall Quality,Overall Cond,Year Built,...,Garage Finish,Garage Cars,Wood Deck Area,Open Porch Area,Enclosed Porch Area,3 Season Porch Area,Screen Porch Area,Pool Area,Sale Condition,Sale Price
Id,,,,,,,,,,,,,,,,,,,,,
1,2-STORY 1946 & NEWER,65.0,8450,NaN,Level,College Creek,Normal,7,5,2003,...,Rough Finished,2,0,61,0,0,0,0,Normal Sale,208500
2,1-STORY 1946 & NEWER,80.0,9600,NaN,Level,Veenker,Adjacent Feeder St,6,8,1976,...,Rough Finished,2,298,0,0,0,0,0,Normal Sale,181500

In [59]:
# CodeBlock 20
df_realestate['Sale Price'].describe()

count      1404.000000
mean     183919.156695
std       79236.046872
min       34900.000000
25%      132500.000000
50%      165500.000000
75%      215050.000000
max      755000.000000
Name: Sale Price, dtype: float64

In [68]:
# CodeBlock 21
df_realestate[df_realestate ['Sale Price'] > 500000].shape

(9, 37)

In [66]:
# CodeBlock 22
df_realestate[df_realestate ['Sale Price'] > 500000].sort_values('Sale Price', ascending=False)

,Dwelling Type,Lot Frontage,Lot Area,Alley,Land Contour,Neighborhood,Location Condition,Overall Quality,Overall Cond,Year Built,...,Garage Finish,Garage Cars,Wood Deck Area,Open Porch Area,Enclosed Porch Area,3 Season Porch Area,Screen Porch Area,Pool Area,Sale Condition,Sale Price
Id,,,,,,,,,,,,,,,,,,,,,
692,2-STORY 1946 & NEWER,104.0,21535,NaN,Level,Northridge,Normal,10,6,1994,...,Finished,3,382,50,0,0,0,0,Normal Sale,755000
1183,2-STORY 1946 & NEWER,160.0,15623,NaN,Level,Northridge,Normal,10,5,1996,...,Finished,3,171,78,0,0,0,555,"Abnormal Sale - trade, foreclosure, short sale",745000
1170,2-STORY 1946 & NEWER,118.0,35760,NaN,Level,Northridge,Normal,10,5,1995,...,Finished,3,361,76,0,0,0,0,Normal Sale,625000
899,1-STORY 1946 & NEWER,100.0,12919,NaN,Level,Northridge Heights,Normal,9,5,2009,...,Finished,3,0,67,0,0,0,0,Home was not completed when last assessed (ass...,611657
804,2-STORY 1946 & NEWER,107.0,13891,NaN,Level,Northridge Heights,Normal,9,5,2008,...,Rough Finished,3,52,170,0,0,192,0,Home was not completed when last assessed (ass...,582933
1047,2-STORY 1946 & NEWER,85.0,16056,NaN,Level,Stone Brook,Normal,9,5,2005,...,Finished,3,214,108,0,0,0,0,Home was not completed when last assessed (ass...,556581
441,1-STORY 1946 & NEWER,105.0,15431,NaN,Level,Northridge Heights,Normal,10,5,2008,...,Finished,3,0,72,0,0,170,0,Normal Sale,555000
770,2-STORY 1946 & NEWER,47.0,53504,NaN,Hillside,Stone Brook,Normal,8,5,2003,...,Finished,3,503,36,0,0,210,0,Normal Sale,538000
179,1-STORY 1946 & NEWER,63.0,17423,NaN,Level,Stone Brook,Normal,9,5,2008,...,Finished,3,0,60,0,0,0,0,Home was not completed when last assessed (ass...,501837

In [67]:
# CodeBlock 23
df_realestate[df_realestate ['Sale Price'] > 500000].sort_values('Sale Price', ascending=False)

,Dwelling Type,Lot Frontage,Lot Area,Alley,Land Contour,Neighborhood,Location Condition,Overall Quality,Overall Cond,Year Built,...,Garage Finish,Garage Cars,Wood Deck Area,Open Porch Area,Enclosed Porch Area,3 Season Porch Area,Screen Porch Area,Pool Area,Sale Condition,Sale Price
Id,,,,,,,,,,,,,,,,,,,,,
692,2-STORY 1946 & NEWER,104.0,21535,NaN,Level,Northridge,Normal,10,6,1994,...,Finished,3,382,50,0,0,0,0,Normal Sale,755000
1183,2-STORY 1946 & NEWER,160.0,15623,NaN,Level,Northridge,Normal,10,5,1996,...,Finished,3,171,78,0,0,0,555,"Abnormal Sale - trade, foreclosure, short sale",745000
1170,2-STORY 1946 & NEWER,118.0,35760,NaN,Level,Northridge,Normal,10,5,1995,...,Finished,3,361,76,0,0,0,0,Normal Sale,625000
899,1-STORY 1946 & NEWER,100.0,12919,NaN,Level,Northridge Heights,Normal,9,5,2009,...,Finished,3,0,67,0,0,0,0,Home was not completed when last assessed (ass...,611657
804,2-STORY 1946 & NEWER,107.0,13891,NaN,Level,Northridge Heights,Normal,9,5,2008,...,Rough Finished,3,52,170,0,0,192,0,Home was not completed when last assessed (ass...,582933
1047,2-STORY 1946 & NEWER,85.0,16056,NaN,Level,Stone Brook,Normal,9,5,2005,...,Finished,3,214,108,0,0,0,0,Home was not completed when last assessed (ass...,556581
441,1-STORY 1946 & NEWER,105.0,15431,NaN,Level,Northridge Heights,Normal,10,5,2008,...,Finished,3,0,72,0,0,170,0,Normal Sale,555000
770,2-STORY 1946 & NEWER,47.0,53504,NaN,Hillside,Stone Brook,Normal,8,5,2003,...,Finished,3,503,36,0,0,210,0,Normal Sale,538000
179,1-STORY 1946 & NEWER,63.0,17423,NaN,Level,Stone Brook,Normal,9,5,2008,...,Finished,3,0,60,0,0,0,0,Home was not completed when last assessed (ass...,501837

In [70]:
# CodeBlock 24
df_re_over500k = df_realestate
df_re_over500k[df_re_over500k ['Sale Price'] > 500000].shape

(9, 37)

In [73]:
# CodeBlock 25
df_re_over500k.iloc[:,[0,5,36]].head()

           Dwelling Type   Neighborhood  Sale Price
Id
1   2-STORY 1946 & NEWER  College Creek      208500
2   1-STORY 1946 & NEWER        Veenker      181500
3   2-STORY 1946 & NEWER  College Creek      223500
4   2-STORY 1945 & OLDER       Crawford      140000
5   2-STORY 1946 & NEWER     Northridge      250000

In [75]:
# CodeBlock 26
df_realestate[df_realestate ['Sale Price'] <= 500000].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1395 entries, 1 to 1460
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Dwelling Type             1395 non-null   object
 1   Lot Frontage              1142 non-null   float64
 2   Lot Area                  1395 non-null   int64
 3   Alley                     84 non-null     object
 4   Land Contour              1395 non-null   object
 5   Neighborhood              1395 non-null   object
 6   Location Condition        1395 non-null   object
 7   Overall Quality           1395 non-null   int64
 8   Overall Cond              1395 non-null   int64
 9   Year Built                1395 non-null   int64
 10  Masonry/Veneer Area       1387 non-null   float64
 11  Basement Finished Area    1395 non-null   int64
 12  Basement Unfinished Area  1395 non-null   int64
 13  Basement Area             1395 non-null   int64
 14  1st Floor Area            1395 non-null   int64
 15  2nd Floor Area            1395 non-null   int64
 16  Living Area Above Grade   1395 non-null   int64
 17  Basement Full Baths       1395 non-null   int64
 18  Basement Half baths       1395 non-null   int64
 19  Full Baths Above Grade    1395 non-null   int64
 20  Half Baths Above Grade    1395 non-null   int64
 21  Bedrooms Above Grade      1395 non-null   int64
 22  Kitchens Above Grade      1395 non-null   int64
 23  Kitchen Qual              1395 non-null   object
 24  Total Rooms Above Grade   1395 non-null   int64
 25  Fireplaces                1395 non-null   int64
 26  Garage Yr Built           1332 non-null   float64
 27  Garage Finish             1395 non-null   object
 28  Garage Cars               1395 non-null   int64
 29  Wood Deck Area            1395 non-null   int64
 30  Open Porch Area           1395 non-null   int64
 31  Enclosed Porch Area       1395 non-null   int64
 32  3 Season Porch Area       1395 non-null   int64
 33  Screen Porch Area         1395 non-null   int64
 34  Pool Area                 1395 non-null   int64
 35  Sale Condition            1395 non-null   object
 36  Sale Price                1395 non-null   int64
dtypes: float64(3), int64(26), object(8)
memory usage: 414.1+ KB

In [77]:
# CodeBlock 27

df_realestate.to_csv('data/Real Estate Data-Week2.csv')